
.fast-link a,
.page-nav .first {
    color: #eee;
    padding-left: 50px;

}
.page-nav .second a {
    color: black;
    padding-left: 10px;
    padding-top: 7px;
    
}
.fast-link {
    background-image: url(C:/biao-class/prictice/015-tmall.com/main.jpg);
    background-repeat: no-repeat;
   background-size: cover;
  
}
.fast-link a{
    display: block;
   padding-top: 20px;
    width: 16.6666666%;
    background: rgba(0,0,0,.6);
}
.page-nav {
    padding-bottom: 30px ;
   
    
    
    
}
.page-nav .first {
    background-color: red;
    padding-top: 5px;
}

