<link rel="stylesheet" href="../css/lib/normalize.css">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/commont/global.css">
<link rel="stylesheet" href="../css/component/footer.css">




<div  class=" row footer">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 tac">
            <div class="contact"><i class="fa fa-envelope fa-2x"></i> <i class="fa fa-comments fa-2x"></i> <i class="fa fa-qq fa-2x"></i> <i class="fa fa-weibo fa-2x"></i></div>
            <div>© Untitled. All rights reserved.</div>
        </div>
</div>