<link rel="stylesheet" href="../css/lib/normalize.css">
<link rel="stylesheet" href="../css/common/global.css">
<link rel="stylesheet" href="../css/component/nav.page.css">

<div class="container">
    <div class=" row nav-page">
        <div class="col-lg-2 logo">
            <div class="thumb">
                <img src="../img/mi-logo.png">
            </div>
           
        </div>
        <div class="col-lg-7 col-sm-12 selece">
            <a href="#">小米手机</a>
            <a href="#">红米</a>
            <a href="#">电视</a>
            <a href="#">笔记本</a>
            <a href="#">盒子</a>
            <a href="#">新品</a>
            <a href="#">路由器</a>
            <a href="#">智能硬件</a>
            <a href="#">服务</a>
            <a href="#">社区</a>
        </div>
        <div class="col-lg-3 col-sm-12 search-bar">
            <input type="search" class="search-input" placeholder="红米NOTE5">
            <button class="search-button" type="submit">搜索</button>
        </div>
    </div>
</div>