.first-screen .category {
    background-image: url(C:/biao-class/project/01.mi.com/img/first-screen.jpg);
    min-height: 500px;
    min-width: 1200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
   }
   .first-screen .category a {
       display: block;
       color: #eee;
      width: 20%;
       padding: 15px 40px;
       background: #000;
       margin-left: 30px;
       font-size: 15px;
       font-weight: bold;
   }



.first-screen .fast-link-group .card .thumb { 
   margin-right: -5px;
   padding: 10px;
}

.first-screen .fast-link-group .fast-link {
    
    margin-top: 10px;
    background: #757575;
}

.first-screen .fast-link .one,
.first-screen .fast-link .two,
.first-screen .fast-link .three {
    margin-right: -5px;
    
}
.first-screen .fast-link .link {
    color: #ccc;
    font-size: 14px;
    margin: 20px;
    padding: 15px 0;
}

.mian-promote .picture-group .card {
   margin: 0 10px;
   margin-bottom: 15px;
   background: #fff;
}

.mian-promote .picture-group .card .text {
    line-height: 1.2; 
}

.mian-promote .picture-group .card .text .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.mian-promote .title,
.recommend .title  {
    margin: 10px 0;
   
}
.mian-promote .title .left,
.recommend  .title .left{
    font-size: 30px;
    font-weight: bold;

}

.mian-promote .title .right {
    font-size: 18px;
}

.mian-promote .picture-group .leader {
    width: 230px;
    height: 700px;
}

.recommend .title button {
    background: #eee;
  
    
}

.recommend .title button:last-child{
    margin-right: 40px;
}

.recommend .card {
     display: inline-block;
     margin-left: -5px;
     margin-bottom: 50px;
     padding-right: 10px ;
}
     

.recommend .card .thumb,
.recommend .card .text {
    margin-right: 10px;
    background: #fff;
    padding-bottom: 20px;
}
.recommend .card .text {
    font-size: 15px;
    line-height: 1.4;
    
    
}
.recommend .card .text .come {
    margin: 20px 0;
    font-size: 12px;
    color: rgba(0,0,0,.3);
}

.recommend .card .text .price {
    color: #ff6700;
}

.recommend .card .text .price a{
    color: rgba(0,0,0,.6);
}





