.first-screen,
.promote,
.bjgcard,
.recommend {
    margin: 50px 0;
   
}

.color {
    background: #eee;
}
.first-screen .flink {
    background-image: url(C:/biao-class/project/01.mi.com/img/first-screen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.first-screen >* {
    margin: 30px 0;
}



.first-screen .flink a{
    display: block;
    color: #fff;
    width: 20%;
    background: rgba(0,0,0,0.7);
    font-size: 15px;
    padding: 15px;
    margin-left: 25px;
}

.first-screen .fast-track-area .fast-link{
    background: #5f5750;
   
    
}

.first-screen .fast-track-area .fast-link,
.first-screen .fbye .card-group .card1 .cdown a{
    color: #eee;
}

.first-screen .fast-track-area .fast-link .link div{
    padding: 35px 13px;
}


.first-screen .fast-track-area .card {
   padding-left: 10px;
}
.first-screen .fbye .title  {
    margin: 20px 0;
}

.first-screen .fbye .title .name,
.recommend .title,
.promote .title .left

{
    font-size: 22px;
    font-weight: bold;
 
}

.first-screen .fbye .title button {
   background: #fff;
   padding: 5px 10px;
}

.first-screen .fbye .card-group .card1 {
    background: #f1eded;
    padding: 50px 0;
    border-top: 1px solid #e53935;

}

.first-screen .fbye .card-group .card1>* {
    margin-top: 30px ;
}

.first-screen .fbye .card-group .card1 .time{
    color: #e53935;
    font-size: 25px;
}

.first-screen .fbye .card-group .card1 .others {
  font-size: 15px;
  color: rgba(0,0,0,0.7);
}

.first-screen .fbye .card-group .card1 .cdown a{
    background: #605751;
    width: 36px;
    height: 36px;
    padding-top: 8px;
}

.first-screen .fbye .card-group .card1 .cdown {
    font-size: 20px;
}

.first-screen .fbye .card-group .card {
    background: rgba(0,0,0,0.02);
    max-width: 18%;
    margin: 0 10px;
    border-top: 1px solid #83c44e;
    font-size: 13px;
}

.first-screen .fbye .card-group .card .thumb,
.first-screen .fbye .card-group .card .price {
    padding: 20px 0;
}
.first-screen .fbye .card-group .card .price,
.promote .card-group .other-card .card .price{
    color: #ff6700;
    padding-top: 20px;
}

.first-screen .fbye .card-group .card .name {
    font-weight: bold;
    padding-bottom: 10px;
}
.first-screen .fbye .card-group .card .desc{
    color: rgba(0,0,0,0.5);
}
/*first-screen */

.promote .card-group .other-card .card,
.recommend .card-group .card {
    background: #fff;
   
}

.promote .card-group .other-card .card,
.promote .card-group  .leader .thumb
{
   
    margin-top: 10px;
    
 
}
.promote .card-group .other-card .card{
    padding: 0 20px;
    margin: 15px 10px;
}

.promote .card-group .other-card .card .text {
    padding:20px 10px;
}

    
.promote .card-group .other-card .card .text .title {
    font-weight: bold;
    font-size: 15px;
}

.promote .card-group .other-card .card .text .desc {
    color: rgba(0,0,0,0.5);
    margin: 10px 0;
}

.promote .title .left,
.promote .title .right {
    margin-top:20px ;

}

.promote .title .right a{
    color: rgba(0,0,0,0.7);
    font-size: 15px;
    padding:0 20px;
    
}
.promote .title .right a:first-child {
    color: #ff6700;

}

/* promote 完成*/
.recommend .title  {
    margin-bottom: 30px;
}

.recommend .card-group .card { 
    border: 1px solid red;
   
    padding:0 10px;
   
    
   
    
   
}
