.support-crumbs {
    font-size: 13px;
    padding: 15px 0;
}
.support {
    background: #eee;

 
   
}
.support-main .left .text ,
.support-main .desc{
    background: #fff;
}
.support-main .left .text {
  width: 90%;
  
   
} 
.support-main .left .text a{
    display: block;
    
    font-size: 13px;
    
}
.support-main .left .text >*{
    padding:  10px 35px;
}
.support-main .left h5{
    font-size: 16px;
  
}
.support-main .text {
    margin-top: -25px;
}
.support-main .desc .one,
.support-main .desc .two {
    margin-top: 30px;
}
.support-main h1 {
    font-size: 3rem;
    
}

.support-main .left .text a,
.support-main h1 {
    color: rgba(0,0,0,0.5);
}

.support-main {
    padding-bottom: 50px;
}