
.main-promote .cat {
    background: rgba(0,0,0,0.8);
    width: 20%;
}
.main-promote .slider {
    width: 80%;
}
.main-promote .cat a {
    color: #eee;
    display: block;
    padding: 8px 20px;
    font-size: 75%; 

}
.main-promote .cat a:hover {
    background: rgba(0,0,0,0.8);
    color:#fff;
}