.main-promote {
    background-image: url(silder01.jpg);
    background-color: #fae3b5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-promote .cat {
    background: rgba(0,0,0,0.8);
    width:20%;
}
.main-promote .cat a {
    color: #eee;
    padding: 8px 20px;
    display: block;
    font-size: 75%;

}
.main-promote .cat a:hover {
    background: rgba(0,0,0,0.8);
    color: #fff;
}