.row {
    font-size: 0;
    display: block;
}
.col {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
   

}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: black;
    
}
.col.right {
    text-align: right;
}
.promote .title .left,
.promote .title .right {
    width: 50%;
}
.promote .title {
    margin: 20 0;
}
.promote .title .first {
    font-size: 38px;;
    font-weight: 700;
}
.card-group .card {
    background: #fff;
    padding: 0 22px;
    
   
    
}
.card .title {
    text-align: center;
    font-size: 19px;
}
.card .position {
    text-align: center;
}
.text {
    display: inline-block;
    font-size: 18px;
    padding-top: 10px;
}
.text .one {
    padding-left: 70px;
}
.text .two {
    padding-left: 200px;
}
.text .three {
    padding-left: 200px;
}
.text .four {
    padding-left: 200px;
}