body {
    margin: 0;
}
.container {
    max-width: 1200px;
    margin:0 auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

.row {
     font-size: 0;
     display: block;
 }
 .col{
     font-size: 15px;
     vertical-align: top;
     display: inline-block;
 }
 .img {
     width:100%;
 }
 a {
     text-decoration: none;
     color: #eee;
 }
.first-screen {
    background-image: url(bannerV2.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    min-height: 480px;
    background-position: center;
    overflow: auto;
    
}
h1 {
    font-size: 240%;
    margin: 0;
}
.title {
    margin-bottom: 20px;
}
.center  {
    text-align: center;
}
.first-screen .center {
    margin-top: 70px;

}
.nav {
    margin-top:10px;
}
.nav .col.left {
    width:30%;
}
.nav .col.right {
    width:  70%;
    text-align: right;
}

.nav a {
    display: inline-block;
    padding: 2px 10px;
    font-weight: bold;
}
.nav .link-group a {
   
}
.nav .auth a {
    font-size: 70%;
    font-weight: normal;
}
.logo  {
    width: 200px;
    height: 200px;
    background-image: url(C:\biao-class\prictice\001-webstructure\spriteV2_new.png);
    background-repeat: no-repeat;
    background-position: 0px -372px;
    background-size: auto;
}