.head {
    background-image: url(niu2.jpg);
    background-repeat: no-repeat;
    min-height: 500px;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 30px;

}
.nav {
   background: #fff;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 15px;
}

.nav a {
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}


/*body样式开始*/
.card {
    padding: 10px;
}

.row.fat {
    margin: 0 -25px;
    margin-bottom: 30px;
}
.thumb {
    overflow: hidden;
    border-radius: 3px;
}
.card .text {
    margin-left: 20px;
    line-height: 1.3;
    margin-top: 10px;
}
.card .text .title{
    font-size: 1.4rem;
    font-weight: bold;
}
.card .text .desc{
    font-size: 1.2rem;
    font-weight: lighter;

}


.footer {
    clear: both;
}
.footer .link-group .title{
    font-size: 1.2rem;
    font-weight: bold;
 
}

.footer .link-group {
    margin-bottom: 60px;
}
.footer {
   text-align: center;
   margin: 30px;
}
.footer .two .text {
    text-align: left;
    padding-left: 60px;

}