.footer {
    background: #fff;
}
.footer .service div {
    padding: 30px 30px;
    font-size: 1.4rem;
}

.footer .help {
    margin: 40px 0;
}

.footer .link-group .title {
   font-weight: bold;
   margin-bottom: 20px;
   
}

.footer .help  .phone {
    border-left: 1px solid grey;
    padding-left: 30px;
    line-height: 1.6;
    text-align: center;
}

.footer .help .phone .one {
    margin-top: -10px;
    font-size: 1.7rem;
}

.footer .help .phone .one,
.footer .help .phone button{
    color: #ff6700;
}

.footer .help .phone button {
    background:none;
    padding: 10px 35px;
    border-color: #ff6700;
    margin-top: 10px;
    
}

.footer .others-link  {
   color: #000;
}

.footer a {
    color: #000;
}

.footer .others-link  a{
    display: block;
    line-height: 2;
}

.footer .link-group {
    margin-right: -8px;
    display: inline-block;
}


.footer .metainformation .others{
    font-size: 1rem;
}

.footer .metainformation {
    margin-top: 50px;
}

.footer .metainformation .left .logo {
    background: #ff6700;
    display: inline-block;
}

.footer img {
   
    display: inline-block;
    
}


.footer .last {
    width: 85px;
    height: 30px;
}

.footer .metainformation .others {
    line-height: 1.4;
}

.footer .metainformation .others .one,
.footer .metainformation .others .two {
    color:rgba(0,0,0,.5);
}

@media(max-width:400px){
    .footer .metainformation .logo,
    .footer .metainformation .right {
        display: none;
    }

}