.footer{
    background: #fff;
   
}
.footer .service div  {
  
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    color: rgba(0,0,0,0.6);
   
   
}
.footer .service div:after{
    content: "|";
    margin-left: 55px;

}

.footer .service div:last-child::after{
    display: none;
}

.footer .help a {
    display: block;
    color: rgba(0,0,0,0.4);
    padding: 5px 0;

}

.footer .help .help-group .text
 {
    margin: 20px 0;
    font-size: 14px;
}
.footer .help .help-group {
    margin-right: -10px;
}

.footer .help .phone-area {
    margin-top:20px ;
    border-left: 1px solid gray;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: -70px;
 
}
.footer .help .phone-area>*,
.footer .help .phone-area button{
  margin-left: 50px;
}

.footer .help .phone-area .phone,
.footer .help .phone-area button {
    color: #ff6700;

}
.footer .help .phone-area .phone {
    font-size: 20px;
    
}
.footer .help .phone-area button {
    margin-top: 15px;
    border:1px solid #ff6700;
   background: #fff;
   padding: 7px 15px;
}

.footer .meta .thumb   {
background: #ff6700;
display: inline-block;

}

.footer .meta >*  {
    display: inline-block;
    line-height: 1.4;
    
}

.footer .meta .one,
.footer .meta .two,
.footer .meta .three{
    padding-left: 60px;
    color: rgba(0,0,0,0.4);
 
    
   
}
.footer .meta .one {
    margin-top: -50px;
}
.footer .meta .one a { 
    color: rgba(0,0,0,0.6);

}
.footer .meta .one a::after{
    content: "|";
    margin-left: 10px;
}
.footer .meta .one a:last-child::after{
    display: none;
}
.footer .meta .picture {
    padding:10px 80px ;
}

@media (max-width:400px){
    .footer .thumb img,
    .footer .picture img {
        display: none;
    }
    .footer .meta .one,
    .footer .meta .two,
    .footer .meta .three {
        margin-top: 0;
        padding-left: 0;
    }
}
