<link rel="stylesheet" href="../css/lib/normalize.css">
<link rel="stylesheet"  href="../css/common/global.css">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet"  href="../css/component/footer.css">

<div class="footer tac">
    <div class="title">Get In Touch</div>
    <div class="row touch">
        <span class=" col col-sm-12"> <i class="fa fa-phone"></i> 18827863321</span>
        <span class=" col col-sm-12"> <i class="fa fa-envelope"></i> information@untitled.tld</span>
        <span class= " col col-sm-12"> <i class="fa fa-map-marker"></i> 123 Somewhere Road, Nashville, TN 00000</span>
        <hr>
    
    </div>
    <div class="others col-sm-12">© Untitled. Design TEMPLATED. Images Unsplash.</div>
</div>